*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(jonatan-pie-3l3RwQdHRHg-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed; 
    color: white;
}
.heading {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 80px;
}
#heading {
    font-size: 25px;
}
#subheading {
    font-size: 15px;
}
.page_heading {
    text-align: center;
}
#content {
    width: 90%;
    margin: auto;
}
 
input::placeholder {
    padding: 5px;
}

form{  
    background-color: rgba(0,0,0,0.7);
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;
    padding-left: 10px;
}
form .box {
    width: 98.5%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}
#occupation select{
    width: 98.5%;
    height: 2.8em;
    position: relative;  
    bottom: 10px;
    border: 0;
    border-radius: 5px; 
}
button{
    width: 98.5%;
    height: 2.8em;
    position: relative;  
    bottom: 10px;
    border: 0;
    border-radius: 5px; 
    cursor: pointer;
   background-color: rgb(18, 219, 78);
   color: rgb(255, 255, 2555);
}
#submit {
    width: 100px;
    height: 2.8em;
    position: relative;  
    bottom: 10px;
    border: 0;
    border-radius: 5px; 
}
.comments, #marital, #exposure, #exposure2 {
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
}
textarea {
    width: 98.5%;
    height: 125px;
    position: relative;
    bottom: 17px;
}
textarea::placeholder {
    position: relative;
    top: 8px;
    left: 5px;
    width: 70%;
}
input .larger {
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 600px){
    form (
        width:100%;
        margin: auto;
    )    
}